Name: Kausik Amancherla

Student ID: 002544017

1. Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10.

In [79]:
def Factorial(num):
  factorial = 1;
  if num == 0:
    return 1;
  else:
    for i in range(1,num+1):
      factorial = factorial * i
  return factorial

In [80]:
Factorial(35)

10333147966386144929666651337523200000000

2.Write a function that determines if a number is a prime number. Test the function with the following numbers: 3 and 1251.

In [81]:
def Prime(num):
  if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print("This is not a prime number")
            break
    else:
        print("This is a prime number");
  else:
    print("This is not a prime number")

In [82]:
Prime(11)

This is a prime number

In [83]:
Prime(2898)

This is not a prime number

3.Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [84]:
def Transpose(matrix):
  transpose = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
  for i in range(len(matrix)):
      for j in range(len(matrix[0])):
        transpose[j][i] = matrix[i][j]
  for j in transpose:
    return transpose

In [86]:
Transpose([[2,3,4],[3,1,2],[2,4,6]])

[[2, 3, 2], [3, 1, 4], [4, 2, 6]]

4 Using Pandas and Numpy, write a piece of code to combine two series into one.

In [139]:
def CombineSeries(series1,series2):
    length1 = len(series1)
    length2= len(series2)
    if(length1 > length2):
        for i in series1:
            series1[i] = series1[i] + series2[i]
            return series1
        else:
            for i in series2:
                series2[i] = series1[i] + series2[i]
    return series2

In [140]:
import pandas as pd

np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
CombineSeries(series1,series2)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

5. Using pandas, write a piece of code to convert the First character of each element in a series to uppercase.

In [ ]:
import pandas as pd
series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [142]:
def capitalletter(FirstLetter):
        upper_ascii_value = ord(FirstLetter) - 32 # decreases ascii value by 32

        upper_case_letter  = chr(upper_ascii_value) # coverts ascii value to character
        return upper_case_letter

In [146]:
for i in range(0,len(series)):
            newSeries = capitalletter(series[i][0]) + series[0:]
 
 print(newSeries)

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

Bonus Question
Using pandas, write a piece of code to get the frequency of unique values in the entire dataframe (not using built in functions).

In [144]:
def FrequencyCount(dataframe):
    frequency = {}

    for index,row in dataframe.iterrows():
            for item in range(0, len(row)):
                if (row[item] in frequency):
                    frequency[row[item]] += 1
                else:
                    frequency[row[item]] = 1

    return frequency

In [145]:
import numpy as np

dataframe = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
print(dataframe)

FrequencyCount(dataframe)

   a  b  c  d
0  9  5  8  8
1  8  6  8  7
2  9  5  5  9
3  7  6  5  6
4  6  5  6  9

{5: 5, 6: 5, 7: 2, 8: 4, 9: 4}